<style>
  text {
    font-size: 16px;
    font-family: Open Sans, sans-serif;
  }

  text.valueLabel {
    font-weight: 300;
    fill: #505050;
    dominant-baseline: middle;
  }

  text.timeText {
    font-size: 20px;
    font-weight: 700;
    fill: #505050;
  }

  .xAxis > .tick line {
    shape-rendering: CrispEdges;
    stroke: #cecece;
  }

  .xAxis > .tick line.origin {
    stroke: #aaaaaa;
  }

  .tick text {
    fill: #6f6f6f;
  }

  .progressBar {
    fill: #505050;
  }

  .tAxis > .tick line {
    shape-rendering: CrispEdges;
    stroke: #aaaaaa;
  }

  .xAxis > path.domain {
    display: none;
  }


  .tAxis > path.domain {
    color: #aaaaaa;
  }

  text.label {
    font-weight: 600;
    fill: #202020;
    dominant-baseline: middle;

  }

  .xAxis .tick:nth-child(2) text {
    text-anchor: start;
  }


</style>